/* <=2400px时 */
@media (max-width:2400px) {}

/* <=2080px时 */
@media (max-width:2080px) {}

/* <=1760px时 */
@media (max-width:1760px) {}

/* <=1760px时 */
@media (min-width:1600px) {}

/* <=1760px时 */
@media (max-width:1600px) {}

/* <=1515px时 */
@media (max-width:1515px) {}

/* <=1120px时 */
@media (max-width:1120px) {}

/* >=1280px时 */
@media (max-width:1280px) {}

/* <=1280px时 */
@media (max-width:1280px) {}

/* <=1080px时 */
@media (max-width:1080px) {}

/* <=1024px时 */
@media (max-width:1024px) {}

/* <=960px时 */
@media (max-width:960px) {

    // partner 页面
    .partner {
        .main-title {
            font-size: 30px !important;
        }

        .cardone {
            .cardone-item {
                width: 100% !important;

                .cardone-body-item {
                    gap: 8px !important;

                    .cardone-body-item-title {
                        font-size: 14px !important;
                    }

                    .cardone-body-item-desc {
                        font-size: 16px !important;
                    }
                }

                .cardone-Share {
                    font-size: 16px !important;
                }

                .icontwitter {
                    display: none !important;
                }
            }
        }

        .cardtwo {
            .cardtwo-item {
                width: 100% !important;


                span {
                    width: 20px !important;
                    height: 20px !important;
                    line-height: 20px !important;
                    font-size: 16px !important;
                }

                div {
                    font-size: 16px;
                }
            }

        }

        .cardthree {
            min-width: 100% !important;

            // .cardthree-item {

            //     .cardthree-btn {}
            // }
        }
    }

    // cart组件
    .card {

        .title {
            font-size: 16px !important;
        }

        .body {
            border-radius: 10px !important;
        }
    }

}

/* <=768px时 */
@media (max-width:768px) {
    .nav-item {
        display: none !important;

        &:hover {
            background: none !important;
        }
    }

    .nav-item-popover {
        display: flex !important;

        &:hover {
            background: none !important;
        }
    }

    .nav-item-popover-btn {
        display: none;
    }

    .logo-name {
        font-size: 20px !important;
    }
}

/* <=800px时 */
@media (max-width: 845px) {}

/* <=700px时 */
@media (max-width:700px) {}

/* <=558px时 */
@media (max-width:558px) {
    .ivEMfk9ulAFRBn22 {
        display: none !important;
    }

    .Vwi6NjIkX4kQ3Rux {
        display: block !important;
    }
}

/* <=480px时 */
@media (max-width:480px) {
    .cardthree-item {
        font-size: 14px !important;
    }

    .logo-name {
        display: none;
    }

    nav {
        padding: 0 !important;

        img {
            min-height: 70px !important;
            min-width: 70px !important;
        }
    }

    .container {
        padding: 10px !important;
    }
}